<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css"
    />

    <link
      rel="stylesheet"
      href="{{ '/assets/css/style.css' | relative_url }}"
    />
  </head>
  <body>
    {% include header.html %}

    <main class="container">{{ content }}</main>

    <footer>{% include footer.html %}</footer>

    <script src="{{ '/assets/js/script.js' | relative_url }}"></script>
  </body>
</html>
